body {
  background-image: url("clouds.jpg");
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
img {
  max-width: fit-content;
  height: auto;
}
.weather-app {
  background: linear-gradient(
    177.9deg,
    rgb(191, 196, 230) 3.6%,
    rgb(34, 43, 67) 105.8%
  );
  color: #323456;
  max-width: 400px;
  margin: 6% auto;
  box-shadow: 0 10px 30px 0 rgba(50, 40, 60, 0.7);
  padding: 4%;
  border-radius: 20px;
  border: 0.1px solid grey;
}

header {
  border-bottom: 0.5px solid #8086a4;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: solid rgba(195, 193, 198, 0.7);
  border-radius: 6px;
  width: 50%;
  padding: 12px;
  font-size: 15px;
  color: #323456;
  margin-left: 69px;
}

.search-form-button {
  background-color: #f9f7fe;
  padding: 12px 18px;
  border: solid rgba(195, 193, 198, 0.7);
  border-radius: 6px;
  margin-left: 2px;
}

.weather-app-data {
  display: flex;
  justify-content: center;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-details {
  line-height: 25px;
}

.weather-app-details strong {
  color: #27376d;
}

.weather-app-city {
  font-size: 30px;
  line-height: 48px;
  margin: 0 auto;
  display: flex;
  margin-right: -20px;
  padding: 12px;
}

.weather-app-current-temperature {
  font-size: 80px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: -20px;
}

.weather-app-icon {
  font-size: 30px;
  margin-top: 90px;
  margin-right: -400px;
}
.weather-app-unit {
  margin-top: 70px;
  font-size: 25px;
  margin-right: 31px;
}

main {
  padding: 15px 0 10px 0;
}

a {
  color: #27376d;
}
footer {
  border-top: 0.5px solid #323a54;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #181931;
}
