body {
  background-image: url("clouds.jpg");
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.weather-app {
  background: linear-gradient(
    177.9deg,
    rgb(191, 196, 230) 3.6%,
    rgb(34, 43, 67) 105.8%
  );
  color: #373858;
  max-width: 350px;
  margin: 40px auto;
  margin-top: 30px;
  box-shadow: 0 10px 30px 0 rgba(50, 40, 60, 0.7);
  padding: 40px;
  border-radius: 20px;
  border: 0.1px solid grey;
}

header {
  border-bottom: 0.5px solid #8086a4;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 145px;
  padding: 10px;
  font-size: 12px;
  color: #323456;
  margin-left: 50px;
  box-shadow: 0 0.5px 0.5px rgba(50, 40, 60, 0.7);
}

.search-form-button {
  background-color: #f9f7fe;
  width: 50px;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  margin-left: 4px;
  box-shadow: 0 10px 30px 0 rgba(50, 40, 60, 0.7);
}

.weather-app-data {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.weather-app-temperature-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.weather-app-details {
  line-height: 25px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather-app-details strong {
  color: #27376d;
}

.weather-app-city {
  font-size: 25px;
  line-height: 10px;
  text-align: center;
}

.weather-app-current-temperature {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 30px;
}

.weather-app-icon {
  width: 55px;
  margin-bottom: 30px;
}
.weather-app-unit {
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.weather-forecast {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  justify-content: center;
}
.weather-forecast-date {
  text-align: center;
  color: #2f304c;
  line-height: 50px;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.weather-forecast-temperature {
  color: #1e2c57;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 12px;
}

.weather-forecast-temperature-highest {
  padding: 0 5px;
}
main {
  padding: 15px 0 10px 0;
}

a {
  color: #03103b;
}
footer {
  border-top: 0.5px solid #323a54;
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #181931;
}
