body {
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.weather-app {
  background-image: url("IMG_4120.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #e1e0e4;
  max-width: 330px;
  margin: 40px auto;
  margin-top: 90px;
  box-shadow: 0 10px 30px 0 rgba(50, 40, 60, 0.7);
  padding: 35px 50px;
  border-radius: 20px;
  border: 0.1px solid grey;
}

header {
  border-bottom: 0.5px solid #8086a4;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 145px;
  padding: 10px;
  font-size: 12px;
  color: #323456;
  margin-left: 50px;
  -webkit-box-shadow: 0 0 10px #0e0436;
  box-shadow: 0 0 10px #ffffff;
}

.search-form-button {
  background-color: #f9f7fe;
  width: 50px;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  margin-left: 4px;
  -webkit-box-shadow: 0 0 10px #0e0436;
  box-shadow: 0 0 10px #ffffff;
}

.weather-app-data {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.weather-app-temperature-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.weather-app-details {
  line-height: 25px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather-app-details strong {
  color: #e1e0e4;
}

.weather-app-details .wind {
  color: rgb(249, 249, 249);
  background-color: #0101114f;
}
.weather-app-city {
  font-size: 25px;
  line-height: 1px;
  padding-top: 10px;
  text-align: center;
  color: #f0eff3;
}

.weather-app-current-temperature {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e1e0e4;
}

.weather-app-icon {
  width: 55px;
  margin-bottom: 5px;
}
.weather-app-unit {
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: #e1e0e4;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-date {
  text-align: center;
  color: #ccd4d9;
  line-height: 13px;
  padding-top: 20px;
}

.weather-forecast-icon img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.weather-forecast-temperature {
  color: #e1e0e4;
  display: flex;
  font-size: 11px;
  padding: 0 2px;
}

.weather-forecast-temperature-highest {
  padding: 0 5px;
}

main {
  padding: 15px 0px;
}

a {
  color: #0a0a66;
}
footer {
  padding: 0;
  text-align: center;
  font-size: 12px;
  color: #51437c;
}
